body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #121212;
    color: #e0e0e0;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: #1f1f1f;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0 2px 10px rgba(255, 152, 0, 0.2);
}
ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}
ul li a {
    text-decoration: none;
    color: #e0e0e0;
    text-transform: uppercase;
}
ul li a:hover {
    color: #ff9800;
}
.icons {
    display: flex;
    gap: 15px;
    align-items: center;
}
.icon-button {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff9800;
    border-radius: 50%;
    color: white;
    font-size: 16px;
}
.hero {
    background: url('https://images.unsplash.com/photo-1511920170033-f8396924c348?w=600&auto=format&fit=crop&q=60') no-repeat center center/cover;
    width: 100%;
    padding: 50px 0;
    height: 60vw;
    display: flex;
    align-items: center;
    justify-content: left;
}
.home-heading {
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ff9800;
}
button {
    background: #ff9800;
    font-size: 20px;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
button:hover {
    background-color: white;
    color: #ff9800;
    transform: scale(1.1);
    box-shadow: 0 8px 15px rgba(255, 152, 0, 0.3);
}
.next-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30vw;
    margin: 30px;
}
.cont1 {
    border: 2px solid #ff9800;
    padding: 20px;
    margin: 20px;
    width: 30%;
    box-shadow: 0px 0px 10px rgba(255, 152, 0, 0.2);
    border-radius: 5px;
    height: 70%;
    background-color: #1f1f1f;
    color: #e0e0e0;
}
.footer {
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    background-color: #1f1f1f;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(255, 152, 0, 0.2);
}